.cards {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  padding: 1.5rem;
}

.circleProgress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navCountry {
  display: flex;
  justify-content:center;
  align-items: center;
}

.navCountry > div:last-child {
  margin-left: 2em;
  font-style: oblique;
}

.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}