.navContainer > nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #96c3ce;
  height: 3em;
  width: 100%;
  text-decoration: none;
}

.imageRight {
  height: 2.5em;
  padding-left: 2em;
  padding-right: 2em;
}
